# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/**/*.pyc
backend/.env

# Django
backend/db.sqlite3

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# pytest cache
backend/.pytest_cache/
backend/**/.pytest_cache/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
npm-debug.log*